<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/web/user">User manager</a></li>
        <li><a href="/web/event">Event Manager</a></li>
        <li><a href="/web/game">Game Manager</a></li>
    </ul>